html, body {
  margin: 0;
  height: 100%;
  color: #222;
  font-family: arial, sans-serif;
}

a {
  display: inline-block;
  padding-left: 15px;
  text-decoration: none;
  color: #000;
  opacity: 0.75;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline;
  text-align: right;
}

.top_left {
  position: absolute;
  margin: 7px 0 0 10px;
}

.top_right {
  flex: 1 1 auto;
  display: flex;
  float: right;
  text-align: right;
  justify-content: flex-end;
  position: relative;
  padding: 0 30px;
  align-items: center;
  white-space: nowrap;
}

.mail_image {
  padding-right: 15px;
  display: flex;
  flex: 0 1 auto;
}

.app_sign {
  display: flex;
  line-height: normal;
  position: relative;
  text-align: left;
  margin-left: 0 !important;
  margin-right: 0 !important;
  white-space: nowrap;
  min-width: 114px;
  flex: 0 1 auto;
}

.apps {
  padding-left: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: inline-block;
  flex: 0 0 auto;
  background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
  -webkit-background-size: 528px 68px;
  background-size: 528px 68px;
  background-position: -132px -38px;
  opacity: .55;
  height: 30px;
  width: 30px;
}

.sign {
  display: inline-block;
  padding: 0 0 0 15px;
  position: relative;
  vertical-align: middle;
  margin-left: 0 !important;
  margin-right: 0 !important;
  flex: 0 0 auto;
  text-align: left;
  color: #fff;
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  background: #4285f4;
  background: -webkit-linear-gradient(top, #4387fd, #4683ea);
}

.search_bar {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  width: 414px;
  height: 34px;
  display: flex;
  outline: none;
  flex: 100%;
  font: 16px arial, sans-serif;
}

.mic {
  display: flex;
  flex: 1 0 auto;
  background: url(http://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png) 0 0 no-repeat;
  height: 25px;
  width: 25px;
  margin: 8px 10px 0 0;
  background-size: 24px;
  vertical-align: middle;
  z-index: 4;
}

.glogo {
  padding: 109px;
  margin-left: auto;
  margin-right: auto;
}

.search {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding-left: 12px;
  padding-top: 6px;
  width: 554px;
  height: 39px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  z-index: 3;
  box-shadow: none;
}

.lucky_search {
  display: block;
  text-align: center;
  height: 70px;
  padding-top: 18px;
  width: 487px;
  margin: 0 auto;
}

.enter {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-size: 14px;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  width: auto;
  height: 34px;
}

.lucky {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-size: 14px;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  width: auto;
  height: 34px;
}

#top_nav {
  display: inline-block;
  position: fixed;
  font-size: 13px;
  font-family: arial, sans-sans-serif;
  top: 16px;
  width: 100%;
}

#logo {
  height: 233px;
  margin-top: 89px;
  text-align: center;
}
